@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
:root{
    --bg-color:#EEEBDD;
    --second-bg-color: #810000 ;
    --text-color: #630000;
    --main-color: #1B1717;
}
html{
    front-size: 60%;
    overflow-x: hidden;
}
body{
    background-color:var(--bg-color);
    color: var(--text-color);
} 

span{
    color: var(--main-color);
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;

}

/* bu saytin yuxari hissesidir */
.header{ 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background-color: rgb(0, 0,0 0.3);
    backdrop-filter: #330606(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}
.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--text-color); 
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    
}
.navbar a:hover,
.navbar a:active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color:var(#d5a0a0);
    display: none;
    
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;

}

.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;

}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;

}

.home-img{
    border-radius: 50%;
}


.home-img img{
    width: 32vw;
    position: relative;
    top: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--text-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;


}

.home-img img:hover{
    box-shadow: 0 0 25px #d5a0a0, 0 0 50px #d5a0a0,  0 0 100px #d5a0a0;

}

.home-content p{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;

}


.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background-color: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 300ms ease-in-out; 

}

.social-icons a:hover{
    color: var(--main-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px #810000;
    background-color:#360303;
}

.btn{   
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #d5a0a0;
    box-shadow: 0 0 25px #d5a0a0;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(107, 31, 31);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms ease-in-out;


}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #d5a0a0;

}

.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;

}

.btn-group a:nth-of-type(2){
    background-color: #d5a0a0;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}


.btn-group a:nth-of-type(2):hover{
    box-shadow: 0 0 25px var(--main-color);
    background-color: #E5D0AC;
    color: #E5D0AC;
}

.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "";
    color: var(--main-color);
    animation: words 15s infinite;
}

.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    height: 50%;
    width: calc(100% + 8px);
    position: absolute;
    right: -8px;
    border-left: 1px solid var(--bg-color);
    animation: cursor 0.9s infinite, typing 10s steps(10) infinite;

}

@keyframes cursor {
    to {
        border-left: 5px solid var(--second-bg-color);
    }
}

@keyframes words{
    0%,
    30%{
        content: "Backend Developer";
    }
    31%,
    61%{
        content: "Frontend Developer";
    }
    61%,
    100%{
        content: "Full Stack Developer";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: o;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% +8px);
    }
}

/*education start*/
.heading{
    font-size: 70px;
    text-align: center;
    font-weight: 700;
    color: var(--bg-color);
    margin-bottom: 80px;
   
}
.education{
    background-color: var(--text-color);
    padding: 100px 10%;
    position: relative;
       
}


/* Timeline */
.timeline{
    position: relative;
    max-width: 900px;
    margin: auto;
}

/* Sol xətt */
.timeline::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 4px;
    height: 100%;
    background: var(--bg-color);
}

/* Hər item */
.timeline-item{
    position: relative;
    padding-left: 50px;
    margin-bottom: 70px;
}

/* Dairə */
.timeline-item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 20px;
    width: 20px;
    height: 20px;
    background: var(--bg-color);
    border: 4px solid #FFFBEB;
    border-radius: 50%;
    z-index: 1;
}

/* Box */
.timeline-content{
    background: #d5a0a0;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

/* Hover effekti */
.timeline-content:hover{
    transform: translateX(10px);
}

/* Tarix */
.timeline-content span{
    font-weight: bold;
    color:var(--text-color);
}
.date{
    font-weight: bold;
    color: var(--second-bg-color);
}
/*education end*/

/* SKILL START*/
.skill{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.skill h2{
    color: var(--second-bg-color);
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.service-box{
    background-color: #d5a0a0;
    height: 300px;
    border-radius: 1em;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


.service-box:hover{
    background-color: rgb(74, 71, 71);
    color: black;
    border: 5px solid #EEEEEE;
    transform: scale(1.03);
}

.service-box .service-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 300px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}

.service-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}

.service-info p {
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
      
}
/* SKILL END*/


/*hobby start*/

.hobby{
    background-color: var(--text-color);
}
.hobby-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hobby-box img{
    width: 15rem;
    border-radius: 50%;
    border: 3px solid var(--bg-color);
    box-shadow: 0 0 25px var(--bg-color);

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.hobby-item{
    min-height: 550px;
    max-width: 450px;
    background-color: rgba(0,0,0,0.7);
    border: 3px solid rgba(238,0238,238,0.2);
    border-radius: 3rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #d5a0a0;
    transition: 0.4s ease-in-out;
}
.hobby-item:hover{
    border: 3px solid var(--bg-color);
    box-shadow: 0 0 70px var(--bg-color);
}

.hobby-item h2{
    font-size: 2.8rem;
}

.hobby-item p{
    font-size: 1.3rem;
}


.hobby-item:nth-child(2){
    border: 3px solid #d5a0a0;
    box-shadow: 0  0 50px #d5a0a0;
    transform: scale(1.1);
    animation: lighting 1s infinite alternate;
}


@keyframes lighting{
    0%{
        box-shadow: 0 0 0 5px #d5a0a0;
    }
    100%{
        box-shadow: 0 0 0 50px #d5a0a0;
    }
}

  
/*hobby end*/


/*contact me start*/
.contact{
    background-color: var(--bg-color);
}


.contact form{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     margin: 5rem auto;
     text-align: center;
}


.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.contact form  .input-box input,
.contact form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background-color: #d5a0a0;
    border-radius: 2rem;
    border: 2px solid #d5a0a0;
    margin: 1.5rem 0;
    resize: none;
}
/* chrome de iosda falan acilmaq ucun*/
input[type="number"]
::-webkit-inner-spin-button,
input[type="number"]
::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;

}

/* fire foxda aacmaq ucun */

input[type="number"]{
    -moz-appearance: textfield;
}



/*contact me end*/


/*footer start*/

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color:var(--text-color);
}


.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--text-color);
}


.footer .social a{
    font-size: 25px;
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;

}


.footer .social a:hover{
    transform: scale(1.2) translateY(-10px);
    background-color: var(--bg-color);
    color: black;
    box-shadow: #d5a0a0;
}



.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}



.footer ul li a{
    color: #EEEBDD;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
} 

.footer ul li a:hover {
    border-bottom: 3px solid var(--bg-color);
    color: var(--bg-color);
}



.footer ul li {
    display: inline-block;
    padding: 0 15px;
}



.footer .copyright{
    margin-top: 50px;
    text-align: center;
    color: #EEEBDD;
    font-size: 16px;
}
/*footer end*/



/*media queries start------ ferqli cihazlarda istifade ucundur */

@media (max-width: 1285px){
    
    html{
        font-size: 55%;
    }

    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
        
    }

}


@media (max-width: 991px){
    header{
        padding: 2rem 3%;
    }


    

    section{
        padding: 10rem 3% 2rem;
    }



    .hobby .wrapper{
        grid-template-columns: repeat(1,1fr);
    }


    .contact form{
        flex-direction: column;
    }

    .footer{
        padding: 2rem 3%;
    }
}


@media (max-width: 890px){
    #menu-icon {
        display: block;
        cursor: pointer;
    }


    .navbar{
        position: absolute;
        top: 100%;
        right: 0;


        width: 50%;
        padding: 1rem 3%;
        background-color: #d5a0a0;
        backdrop-filter: blur(20px);
        border-bottom-left-radius:2rem ;
        border-left: 2px solid var(--text-color);
        border-bottom: var(--text-color);
        display: none;
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 4rem;

    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-width: 600px;
    }

    .home-img img {
        width: 56vw;

    }
    

}
/*media queries start*/































